body {
    font-family: 'Arial';
}

h1 {
    font-size: 2em;
}

main {
    display: flex;
    min-height: 500px;
    margin: 0 20px;
}

/** left side navigation **/
nav#lesson-nav {
    flex: 2;
    min-width: 100px;
    min-height: 500px;
    height: 100%;
    display: inline-block;
}

nav#lesson-nav > a {
    display: block;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    background-color: #eb9a3a;
    border-bottom: black 2px solid;
    border-right: black 2px solid;
    color: black;
    border-left: solid black 2px;
    text-decoration: none;
    cursor: pointer;
}

nav#lesson-nav > a:first-of-type {
    border-top: solid black 2px;
}

nav#lesson-nav > a.completed-nav {
    background-color: #38d04e;
}

/** select box **/
#nav-drop, #nav-drop-label {
    display: none;
}

/** the main content area **/
#content {
    flex: 10;
    width: 77%;
    display: inline-block;
    height: 100%;
    min-height: 500px;
    vertical-align: top;
    margin-left: 20px;
    padding-left: 0;
}

/** the numbered progress bar **/
#progress-bar {
    height: 25px;
    padding: 0;
    width: 100%;
    display: flex;
    margin: 0 0 10px;
}

#progress-bar > span {
    flex-grow: 1;
    background-color: #eb9a3a;
    text-align: center;
    vertical-align: middle;
    line-height: 1.2em;
    border: 1px solid gray;
    float: left;
    text-decoration: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
}

#progress-bar > span.complete {
    background-color: #38d04e;
}

/** picture video area **/
#picture-video {
    display: flex;
    margin-bottom: 10px;
}

#picture-video > video, #picture-video > img {
    flex-grow: 2;
    display: block;
    max-height: 500px;
    max-width: 750px;
}

#picture-video > textarea {
    flex-grow: 1;
    margin-left: 10px;
    font-size: 20px;
}

textarea {
    border: solid black 2px;
}

/** right left arrow navigation at the bottom of the page **/
#controls {
    width: 100%;
    clear: both;
    display: block;
    height: 30px;
}

.page {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

#next-step {
    float: right;
}

/** means the the user has gone as far as they can in that direction **/
.has-none {
    background-color: #f1f1f1;
    color: black;
}

/** means the the user can go further in that direction **/
.has-more {
    background-color: #38d04e;
    color: white;
    cursor: pointer;
}

.round {
    border-radius: 50%;
}

@media (max-width: 1192px) {
    nav#lesson-nav {
        min-width: 150px;
    }

    nav#lesson-nav > a {
        display: block;
        text-align: center;
        font-size: 20px;
    }

    #picture-video > video, #picture-video > img {
        max-width: 600px;
    }
}

@media (max-width: 1000px) {
    nav#lesson-nav {
        display: none;
    }

    main {
        display: block;
    }

    #content {
        width: 95%;
        max-width: none;
        display: block;
    }

    #nav-drop {
        display: block;
        width: 95%;
        border: solid lightgray 1px;
        font-size: 1.5em;
        margin-left: 20px;
        margin-bottom: 5px;
    }

    #nav-drop-label {
        display: block;
        font-size: 1.5em;
        margin-left: 20px;
        margin-bottom: 5px;
        width: 95%;
    }
}

@media (max-width: 800px) {
    textarea {
        display: none;
    }

    #picture-video > video, #picture-video > img {
        max-width: 100%;
    }
}
@media (min-width: 800px) {
    #site-nav {
        display: block;
    }
}


@media (max-height: 800px) {
    #picture-video > video, #picture-video > img {
        max-height: 400px;
    }
}

@media (max-width: 500px) {
    #picture-video > video, #picture-video > img {
        max-height: 400px;
    }
}